{:deps   {}
 :builds {:app {:target           :browser
                :output-dir       "public/js/compiled"
                :asset-path       "/js/compiled"
                :compiler-options {:output-feature-set :es-next}
                :modules          {:app {:init-fn app.core/init}}}}}
